<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%=blog.title%></div>
    <div class="item">
        <img class="ui centered rounded image" src="<%=blog.image%>">    
    </div>
    <div class="content">
        <span><%=blog.date.toDateString()%></span>    
    </div>
    <div class="description">
        <p><%-blog.body%></p>
    </div>
    <a class="ui blue reverted button" href="/blogs/<%=blog._id%>/edit">Edit</a>
    <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
        <button class="ui red reverted button">Delete</button>
    </form>
</div>
<% include partials/footer %>